<li id="flashcard-<%=flashcard.id%>">
  <span class="user"><%= link_to flashcard.user.name, flashcard.user %></span>
  <span class="front">flashcard.front</span>
  <span class="back">flashcard.back</span>
</li>
