// @import "bootstrap-sprockets";
// @import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
@mixin box_sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}


/* universal */

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    bottom: 20px;
    position: absolute;
    padding-bottom: 40px;
    @include box_sizing;
}

body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
    h1 {
        margin-bottom: 10px;
    }
}

.flashcard-table {
    thead {
        text-transform: uppercase;
    }
    th,
    td {
        padding-right: 5px;
        padding-left: 5px;
    }
}

.flashcard-create {
    a {
        position: relative;
        float: right;
        bottom: 0px;
    }
}


/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: $gray-light;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}


/* header */

header {
    .logo {
        float: left;
        margin-left: 10px;
        font-size: 2.4em;
        text-transform: lowercase;
        letter-spacing: -1px;
        font-weight: bold;
        a {
            color: #6F6F6F;
            &:hover {
                color: #FF6153;
                text-decoration: none;
            }
        }
    }
    .rheader {
        float: right;
        margin-right: 10px;
        text-transform: lowercase;
        margin-top: 9px;
        li {
            display: inline;
            padding-right: 5px;
        }
        a {
            color: #6F6F6F;
            margin-top: 9px;
            &:hover {
                color: #FF6153;
                text-decoration: none;
            }
        }
    }
}


/* footer */

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 40px;
    padding-right: 30px;
    // background-color: #f5f5f5;
    li {
        display: inline;
        margin-left: 15px;
    }
    .lfooter {
        float: left;
        list-style: none;
        position: relative;
        color: #6F6F6F;
        transform: translateY(-60%);
        top: 50%;
    }
    .rfooter {
        float: right;
        list-style: none;
        position: relative;
        top: 50%;
        transform: translateY(-60%);
        a {
            color: #AC3654;
            &:hover {
                color: #6F6F6F;
                text-decoration: none;
            }
        }
    }
}
