// @import "bootstrap-sprockets";
// @import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$bright-red: #FF6153;
$grayish: #6F6F6F;
@mixin box_sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}


/* universal */

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    bottom: 20px;
    position: absolute;
    padding-bottom: 40px;
    @include box_sizing;
}

body,
html {
    padding-top: 10px;
    height: 100%;
    a {
        color: $grayish;
        &:hover {
            color: $bright-red;
            text-decoration: none;
        }
    }
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
    h1 {
        margin-bottom: 10px;
    }
}


/* flashcards */

.flashcard-table {
    thead {
        text-transform: uppercase;
    }
    th,
    td {
        padding-right: 5px;
        padding-left: 5px;
    }
}

.flashcard-create {
    a {
        position: relative;
        float: right;
        bottom: 0px;
    }
}
/* flashcards */

.front-show {
    padding-top: 50px;
    p {
        color: $grayish;
    }
}

.back-show {
    padding-top: 50px;
    p{
        color: $bright-red
    }
}

.showlinks {
    float: right;
    padding-right: 30px;
}
/* forms */

.flashspacer {
    position: relative;
    min-height: 550px;
}
input,
textarea,
select,
.uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 20px;
    @include box-sizing;
}

input {
    height: auto;
}

#error_explanation {
    color: $grayish;
    ul {
        color: $grayish;
        margin: 0 0 30px 0;
    }
}

.field_with_errors {
    @extend .has-error;
    .form-control {
        color: $state-danger-text;
    }
}


/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: $gray-light;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}


/* header */

.header {
    .logo {
        float: left;
        margin-left: 10px;
        font-size: 2.4em;
        text-transform: lowercase;
        letter-spacing: -1px;
        font-weight: bold;
        a {
            color: $grayish;
            &:hover {
                color: $bright-red;
                text-decoration: none;
            }
        }
    }
    .rheader {
        float: right;
        margin-right: 10px;
        text-transform: lowercase;
        margin-top: 9px;
        li {
            display: inline;
            padding-right: 5px;
        }
        a {
            color: $grayish;
            margin-top: 9px;
            &:hover {
                color: $bright-red;
                text-decoration: none;
            }
        }
    }
}


/* content */

.content {
    position: relative;
    margin-bottom: 10px;
    min-height: 100%;
}

// buttons
.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    &:focus,
    &:active:focus,
    &.active:focus {
        outline: 0 none;
        color: #6F6F6F;
    }
}

.btn-primary {
    background: $grayish;
    color: $bright-red;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background: $grayish;
}

.btn-primary:active,
.btn-primary.active {
    background: $bright-red;
    box-shadow: none;
}


/* footer */

.footer {
    position: relative;
    width: 100%;
    height: 20px;
    padding-top: 20px;
    padding-right: 30px;
    // border-top: 1px solid $grayish;
    // background-color: #f5f5f5;
    li {
        display: inline;
        margin-left: 15px;
    }
    .lfooter {
        float: left;
        list-style: none;
        position: relative;
        color: $grayish;
        transform: translateY(-80%);
        top: 50%;
    }
    .rfooter {
        float: right;
        list-style: none;
        position: relative;
        top: 50%;
        transform: translateY(-80%);
        a {
            color: $bright-red;
            &:hover {
                color: $grayish;
                text-decoration: none;
            }
        }
    }
}

.clearfooter {
    height: 50px;
    border-bottom: 2px solid $gray-medium-light;
    clear: both;
}
