<footer>
  <ul class="rfooter">
    <li><%= link_to "about", about_path %></li>
    <li><%= link_to "contact", contact_path %></li>
  </ul>
  <ul class="lfooter">
    <li>
      a minimal flashcard app <%=link_to "fergusbarratt.me", 'http://fergusbarratt.me'%>

    </li>
  </ul>
</footer>
