<header class="nav navbar-fixed-top">
    <div class="logo"><%= link_to "flash", root_path %> </div>
    <nav>
      <ul class="rheader">
        <li><%= link_to "home", root_path %></li>
        <li><%=link_to "fergusbarratt.me", 'http://fergusbarratt.me'%></li>
        <li><%= link_to "login", login_path %></li>
      </ul>
    </nav>
</header>
