<header class="nav navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="logo"><%= link_to "Flashcards", root_path %> </div>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%=link_to "fergusbarratt.me", 'http://fergusbarratt.me'%></li>
        <li><%= link_to "Log In", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
